/* Remove red from weekends (Sunday/Saturday) */
.react-calendar__month-view__days__day--weekend {
  color: #1f2937 !important; /* Tailwind's gray-800 or any other color you want */
}

/* Optional: style today */
.react-calendar__tile--now {
  background: rgba(0, 0, 0, 0.1) !important;
  color: #a67c00 !important; /* Tailwind's blue-600 */
  font-weight: bold;
}

.react-calendar__tile:not(.react-calendar__tile--active):not(
    .react-calendar__tile--now
  ):hover {
  background: rgba(0, 0, 0, 0.05) !important;
}

/* Optional: style selected date */
.react-calendar__tile--active {
  background: #a67c00 !important;
  color: white !important;
  border-radius: 0;
}

.react-calendar__navigation {
  width: 50%;
  margin: 1rem auto;
}

.react-calendar__navigation__label {
  font-weight: 600;
  font-size: 1rem;
  color: #a67c00;
  background: transparent !important;
}
.react-calendar__navigation__label:hover {
  background: transparent !important;
}

.react-calendar__navigation__arrow {
  color: #a67c00;
  font-size: 2rem;
  border: none;
  background-color: transparent !important;
  transition: all 0.2s ease-in-out;
}

.react-calendar__navigation__arrow:hover {
  background-color: transparent !important;
  scale: 0.8;
}
